<header id="hotbar" class="hotbar">
  <div class="hotbar__left">
    <a href="/" class="logo">КИНОВЕЧЕР</a>
  </div>
  <nav class="hotbar__nav">

  {% if user.is_authenticated %}
    <a href="{% url 'catalog:my_page' %}" class="nav-link">Моё</a>
    <a href="/subscriptions" class="nav-link">Подписки</a>
  {% else %}
    <a href="/login" class="nav-link">Моё</a>
    <a href="/login" class="nav-link">Подписки</a>
  {% endif %}

  <a href="/channels" class="nav-link">Каналы</a>
  <a href="/sport" class="nav-link">Спорт</a>
</nav>
  <div class="hotbar__right">
    <form action="/search" method="get" class="search">
      <input name="q" type="search" placeholder="Поиск" />
    </form>
    {% if request.user.is_authenticated %}
  <div class="user-menu">
    <a class="avatar" href="profile/" title="Аккаунт">{{ request.user.username|first|upper }}</a>
    <div class="user-menu__dropdown">
      <a class="menu-item" href="profile/">Профиль</a>
      <form action="/logout/" method="post">
        {% csrf_token %}
        <button type="submit" class="menu-item as-button">Выйти</button>
      </form>
    </div>
  </div>
  {% else %}
    <a class="btn" href="/login">Войти</a>
  {% endif %}
  </div>
</header>
